/* Write your code here. */



.blue-notification{
    background-color: #0b69ff;
}

.green-notification{
    background-color: #2dca73;
}

.yellow-notification{
    background-color: #ffb800;
}

.pink-notification{
    background-color: #ff0b37;
}